In [6]:
import numpy as np
import pandas as pd

In [7]:
my_data = np.array([[0, 3], [10, 7], [20, 9], [30, 14], [40, 15]])
my_column_names = ['temperature', 'activity']
my_dataframe = pd.DataFrame(data=my_data, columns=my_column_names)
print(my_dataframe)

   temperature  activity
0            0         3
1           10         7
2           20         9
3           30        14
4           40        15

In [8]:
my_dataframe["adjusted"] = my_dataframe["activity"] + 2
print(my_dataframe)

   temperature  activity  adjusted
0            0         3         5
1           10         7         9
2           20         9        11
3           30        14        16
4           40        15        17

In [9]:
print("Rows #0, #1, and #2:")
print(my_dataframe.head(3), '\n')
print("Row #2:")
print(my_dataframe.iloc[[2]], '\n')
print("Rows #1, #2, and #3:")
print(my_dataframe[1:4], '\n')
print("Column 'temperature':")
print(my_dataframe['temperature'])

Rows #0, #1, and #2:
   temperature  activity  adjusted
0            0         3         5
1           10         7         9
2           20         9        11

Row #2:
   temperature  activity  adjusted
2           20         9        11

Rows #1, #2, and #3:
   temperature  activity  adjusted
1           10         7         9
2           20         9        11
3           30        14        16

Column 'temperature':
0     0
1    10
2    20
3    30
4    40
Name: temperature, dtype: int64

**TASK1**

In [11]:
my_column_names = ['Eleanor', 'Chidi', 'Tahani', 'Jason']
my_data = np.random.randint(low=0, high=101, size=(3, 4))
df = pd.DataFrame(data=my_data, columns=my_column_names)
print(df)
print("\nSecond row of the Eleanor column: %d\n" % df['Eleanor'][1])
df['Janet'] = df['Tahani'] + df['Jason']
print(df)

   Eleanor  Chidi  Tahani  Jason
0       21     41       6     47
1       23     39      10     24
2       23     80      83     64

Second row of the Eleanor column: 23

   Eleanor  Chidi  Tahani  Jason  Janet
0       21     41       6     47     53
1       23     39      10     24     34
2       23     80      83     64    147