In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [ ]:
df = pd.read_csv("/content/multiple-linear-regression-dataset.csv",sep = ";")

x = df.iloc[:,[0,2]].values
y = df.salary.values.reshape(-1,1)

In [ ]:
df.head()

   experience  salary  age
0         0.5    2500   22
1         0.0    2250   21
2         1.0    2750   23
3         5.0    8000   25
4         8.0    9000   28

In [ ]:
# %% fitting data
multiple_linear_regression = LinearRegression()
multiple_linear_regression.fit(x,y)

print("b0: ", multiple_linear_regression.intercept_)
print("b1,b2: ",multiple_linear_regression.coef_)

b0:  [10376.62747228]
b1,b2:  [[1525.50072054 -416.72218625]]

In [ ]:
# predict
multiple_linear_regression.predict(np.array([[10,35],[5,35]]))

array([[11046.35815877],
       [ 3418.85455609]])